[Unit]
Description=Collect Cloudflare R2 metrics into InfluxDB v2
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/env bash /opt/cloudflare-r2-influxdbv2/cloudflare-r2-metrics.sh
